.p-3 {
  padding: 3rem;
}

.bg-white {
  background-color: #fff;
}
.bg-light-gray {
  background-color: #f0f0f0;
}
.item-hover:hover {
  border-bottom: 1px solid #009688;
}
.pointer {
  cursor: pointer;
}
div::-webkit-scrollbar {
  width: 0 !important;
}

.app {
  background-color: rgb(202, 201, 201);
  /* height: 100vh; */
}
.container {
  display: flex;
  background-color: #fff;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}
/* navbar section  */
.navbar {
  flex: 0.1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  height: 100%;
}
.navbar-header {
  font-size: 1.5rem;
  font-weight: 700;
  color: #009688;
}
.nav-items {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.nav-link:hover {
  color: #009688;
}
.navbar-add-icon {
  font-size: 2.25rem;
  color: #fff;
  background-color: #009688;
  padding: 0.45rem;
  border-radius: 100%;
}
/* outlet section  */
.outlet {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  overflow-y: scroll;
}
.search-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.search-input {
  background-color: transparent;
  border: 1px solid #b4b4b4;
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  flex: 0.6;
  color: rgb(24, 24, 24);
}
.search-btn {
  padding: 0.5rem 1rem;
  border: none;
  background-color: rgb(39, 39, 39);
  border-radius: 0.25rem;
  font-size: 0.9rem;
  color: #f0f0f0;
}
.search-btn:hover {
  background-color: rgb(19, 18, 18);
}
/* all songs page section  */
.songs-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.song-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.song-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.85rem 1.5rem;
  background: #fdfcfc;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 18px 25px 0px;
  border-radius: 1rem;
  max-width: 670px;
  position: relative;
  /* z-index: 1000; */
}
.songs-list-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 4rem;
  /* list-style-type: decimal !important; */
}
.song-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.song-card-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.song-card-right {
  position: relative;
}
.song-card-icon {
  width: 40px;
  height: 40px;
}
.song-card-detail {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.song-card-title {
  font-size: 1rem;
}
.song-card-artist {
  font-size: 0.75rem;
}
.song-card-type {
  font-size: 0.7rem;

  color: #009688;
}
.three-dots {
  font-size: 1.5rem;
  /* padding: 0.5rem; */
}
.song-card-editors {
  /* display: none; */
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 80px;
  background: #f0f0f0;
  padding: 0.25rem 1rem;
  border: 1px solid #b4b4b4;
  border-radius: 0.5rem;
  z-index: 10;
}
.song-card-edit {
  font-size: 0.9rem;
  padding: 0.2rem;
  width: 100%;
  /* border-bottom: 1px solid #b4b4b4; */
}
.song-card-update {
  color: #009688;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.song-card-delete {
  color: #c62828;
}

/* display section  */
.display {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  overflow-y: scroll;
}
.display-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-top-icon {
  font-size: 2.5rem !important;
  color: #009688;
}

.display-card-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.display-card-icon {
  width: 90px;
  height: 90px;
}
.display-card-detail {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.display-card-title {
  font-size: 1.65rem;
}
.display-card-artist {
  font-size: 1.25rem;
}
.display-card-type {
  font-size: 1rem;

  color: #009688;
}
.display-detail {
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.display-detail-header {
  color: #009688;
}
.display-detail-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.dispaly-detail-content {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
}
.detail-card-content-header {
  font-size: 1rem;
}
.detail-card-content-value {
  font-size: 0.8rem;
}
